
@{
    ViewBag.Title = "changePassword";
}

<h2>changePassword</h2>
<form action="" method="post">
    Previous password :<input type="text" name="password">
   new password :<input type="text" name="new_password">
    <input type="submit" value="save">
</form>
