
@{
    ViewBag.Title = "leaveRequest";
}

<h2>leaveRequest</h2>
<form action="" method="post">
    Type :<select name="type">
              <option value="none">none</option>
              <option value="sick">sick</option>
</select><br>
    Description :<textarea name="request_description"></textarea><br>
    start time :<input type="date" name="start_time"><br>
    end time : <input type="date" name="end_time"><br>
    <input type="submit" value="Post">
</form>
